body{
    position: relative;
    background-color: white;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.task{
    margin-left: 20px;
}

#lastName{
    margin-left: 5px;
}

.space{
    margin: 20px 0px;
}

.cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    display: none;
    z-index: 1;
}

.popup{
    position: absolute;
    z-index: 2;
    top: calc(50vh - 50px);
    left: calc(50vw  - 100px);
    width: 200px;
    height: 100px;
    background-color: white;
    display: none;
}

.text{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}

.close{
    margin-top: 5px;
    margin-left: 175px;
    height: 20px;
    width: 20px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progressBar{
    position: relative;
    width: 300px;
    height: 5px;
    border: 1px solid black;
}

.barRun{
    position: absolute;
    height: 100%;
    width: 0px;
    top: 0;
    left: 0;
    background-color: red;
}

#playAnimation{
    animation: progress 5s linear;
}

@keyframes progress {
    0% {
        width: 0px;
    }
    100%{
        width: 301px;
    }
}

